<html>
<head>
    <link href="/Users/xingwenzhang/work/courses/576/project/videosearch/static/styles/css/loading.css" rel="stylesheet">
</head>
<body>
                <div class="loader">
                  <div class="loader__bar"></div>
                  <div class="loader__bar"></div>
                  <div class="loader__bar"></div>
                  <div class="loader__bar"></div>
                  <div class="loader__bar"></div>
                  <div class="loader__ball"></div>
                </div>
            </body>
            </html>
